@import "../../styles/style_modules/mixins";
@import "../../styles/style_modules/variables";

.CardActivityList {
  display: flex;
  gap: 20px;
  margin: 12px;
  font-size: 0.9rem;
  overflow-x: scroll;
  padding:20px;
  height:500px
}
