@import "../../../styles/style_modules/mixins";
@import "../../../styles/style_modules/variables";


.Navbar {
  @include flex-container( row , space-between );
  @include spacing( 15px 20px, 0 );
   
  .hamburger{
    position: relative;
    display:flex;
    width: 30px;
    height: 35px;
    z-index: 10;
    font-size: 1.6rem;
    padding:10px;
 


    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 38px;
      

      &::before {
          content: "";
          background: $text-primary-color;
          display: block;
          height: 3px;
          margin: 6px 0;
          border-radius: 1px;
          transition: 0.5s;
      }
      
      &::after {
          content: "";
          background:$text-primary-color;
          display: block;
          height: 3px;
          margin: 6px 0;
          border-radius: 1px;
          transition: 0.5s;
      }
      
      div {
          background:$text-primary-color;
          display: block;
          height: 3px;
          margin: 6px 0;
          transition: 0.5s;
          border-radius: 1px;
      }
  }

  &__open {
      .center {
          &::before {
              transform: translateY(9px) rotate(-135deg);
          }
          &::after {
              transform: translateY(-9px) rotate(135deg);
          }
          div {
              transform: scale(0);
          }
      }
  }

  }

  .main_list_mobile{
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap:25px;
      @include spacing( 10px,0 );
      list-style-type: none;
      position:fixed;
      top:80px;
      left:10px;
      width: 100px;
      height: 200px;
      background-color:$background-primary-color ;
      color:white;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.812);
      z-index: 1;
      text-decoration: none;
  
      li {
        color: $text-primary-color;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid  $text-primary-color;
        }
      }
  }


    .main_list {
     
      // @include flex-container( row , center,center, 18px );
      display: none;
      @include spacing( 0,0 0 20px 0 );
      list-style-type: none;
      text-decoration: none;
  
      li {
        color: $text-primary-color;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid  $text-primary-color;
          
        }
      }
    }
  
    h3 {
    font-size: 1.5rem;
    }
  
    .btn {
      width: 130px;
      height: 30px;
      border: 0;
      border-radius: 12px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.35s;
  
      &:hover {
        background-color: rgb(0, 0, 0);
        color: white;
      }
    }

    .search_list {
        display:flex;
        @include spacing( 0,0 );
        font-size: 2rem;
        list-style-type: none;
    
        li {
          font-weight: bold;
          cursor: pointer;
          border-radius: 70%;
          padding:3px;
        }
      }
  }
  
  @media screen and (min-width: 1050px) {

    .Navbar {
        .hamburger {
         display: none;
         }
         
    .main_list {
      // @include flex-container( row , center,center, 18px );
      display: flex ;
      justify-content: center;
      align-items: center;
      gap:40px;
      
    }

    .search_list {
      display:flex ;
      align-items:center;
      justify-content: center;
      gap:20px;
      
       @include spacing( 0,0 );
  
    }


  }
  
    
  }